/* body della pagina con l'immagine di background */
body {
  background-image: url("./bg.jpg");
  background-size: cover;
  /* background-size: contain; */
  /* object-fit: cover; Se si vuole fare la versione meno rettangolare (da mobile e non da desktop) */
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
}
/* Stile per il logo di epicodo nell'header */

header {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10vh;
  padding-bottom: 2vh;
}

header img {
  width: 20vh;
  margin-top: 5vh;
}

/* TESTO */
h1 {
  margin-bottom: 1vh;
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  line-height: 80%;
}

h3 {
  font-family: "Inter", sans-serif;
  color: #d20094;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 2vh;
}

h4 {
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 20px;

  margin-bottom: 2vh;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

b {
  font-weight: bold;
}

/* classe da usare per il testo azzurrino */
.accent {
  color: #00ffff;
}

/* classe per la risposta selezionata -> gradiente fucsia*/
.answer-color {
  background: #900080;
  background: linear-gradient(
    0deg,
    rgba(144, 0, 128, 1) 0%,
    rgba(210, 0, 148, 1) 100%
  );
}

/* LISTA WELCOME PAGE */
#welcome-page {
  padding-left: 13%;
}

ul {
  margin-top: 5vh;
  margin-left: 3vh;
  font-family: "Inter", sans-serif;
}

ul li {
  margin-bottom: 1vh;
}
/* FORM WELCOME PAGE */
.form-welcome {
  font-family: "Inter", sans-serif;
  margin-top: 15vh;
}

/* checkbox della welcome page*/
#checkbox_welcome {
  width: 20px;
  height: 20px;
  border: 2px solid white;

  accent-color: #00ffff;
  background-color: transparent; /* quadratino trasparente */
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* pulsante 'proceed' della welcome page*/
.welcome_button {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 2vh 6vh;
  margin-left: 30vh;
  border: none;

  color: #0b113b;
  background-color: #00ffff;
  position: relative;
  box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff, 0 0 45px #00ffff;
}

/*Stile del feedback*/
/* contenitore principale del feedback */
.feedback {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.feedback h1 {
  font-size: 50px;
}

/* titolo sopra il campo di testo */
.feedback h3 {
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #f4f6fb;
  margin: 0 0 1.5vh 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 60px;
}

.feedback p {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  font-weight: 200;
}

/* input/textarea con sottolineatura magenta */
.input-underline {
  width: 70%;
  max-width: 760px;
  /*margin: 1vh 0 3vh 0;*/
  margin-left: auto;
  margin-right: auto;
}

.input-underline input,
.input-underline textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.14);
  padding: 12px 6px;
  color: #e9eef8;
  font-size: 16px;
  outline: none;
  font-family: "Inter", sans-serif;
  transition: border-color 0.18s ease;
  resize: vertical;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-underline input::placeholder,
.input-underline textarea::placeholder {
  border-bottom-color: #d20094;
}

.input-underline input:focus,
.input-underline textarea:focus {
  border-bottom-color: #d20094;
}

/* bottone finale "MORE INFO" */
.button-feedback {
  display: inline-block;
  color: #0d2839;
  font-weight: 800;
  letter-spacing: 0.8px;
  padding: 18px 46px;
  border: none;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
}

.luminoso {
  background-color: #00ffff;
  box-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff;
}

/* singola stella */
.star {
  display: inline-block;
}

.stars {
  text-align: center;
  margin: 3vh 0;
  padding-bottom: 10px;
}

.stars span {
  display: inline-block;
  margin-right: 2vw; /* spazio tra le stelle */
  cursor: pointer;
}

.stars svg {
  width: 40px;
  height: auto;
}

/*serve per colorare le stelline
fatto in js*/
.stelline {
  cursor: pointer;
  fill: white;
}

/* RESULT PAGE */

.contenitore {
  text-align: center;
  box-sizing: border-box;
  text-align: center;

  max-width: 100%;
}

#chart {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none; /* evita che interferisca con il grafico */
  font-size: 1.2rem;
  width: 40%;
}

#tiny_p {
  font-size: 0.7rem;
  font-weight: 100;
  margin-top: 10%;
}

#myChart {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
  margin: 0 auto;
}

.title_result {
  width: 50vh;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-align: center;
}

#div_punti {
  box-sizing: border-box;
  text-align: center;
  align-self: center;
}
#sbagliate {
  box-sizing: border-box;
  text-align: center;
  align-self: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* div_punti | contenitore | sbagliate */
  gap: 0;
  margin-top: 2rem;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  align-items: start;
}

.result_button {
  width: 50vh;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-align: center;
  margin-top: 5vh;
}
